@page "/"
@using Microsoft.AspNetCore.Mvc.RazorPages
@inject HttpClient Http


<PageTitle>Home</PageTitle>

<h1>Welcome to The Dashboard</h1>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

<Dropdown Color="DropdownColor.Secondary">
    <DropdownToggleButton>Dropdown button</DropdownToggleButton>
    <DropdownMenu>
        <DropdownItem To="#" Type="DropdownItemType.Link">Action</DropdownItem>
        <DropdownItem To="#" Type="DropdownItemType.Link">Another action</DropdownItem>
        <DropdownItem To="#" Type="DropdownItemType.Link">Something else here</DropdownItem>
    </DropdownMenu>
</Dropdown>

<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>

@if (catfacts == null)
{
<p>Loading ... </p>
}
else
{
<div class="row">
    @foreach (CatFactDTO catfact in catfacts)
    { 
        <div class="col-6 mb-4">
            <Card TextAlignment="Alignment.Center" Style="width:18rem;">
                <CardBody>
                    <CardTitle>CAT FACT</CardTitle>
                    <CardsText1>Fact: @catfact.fact</CardsText1>
                    <CardText2>Likes: @catfact.likes</CardText2>
                    <CardText3>Dislikes @catfact.dislikes</CardText3>
                    <CardText4>Date: @catfact.dateAdded</CardText4>
                </CardBody>
            </Card>
        </div>
    }
</div>
}



@code {

    private List<CatFactDTO> catfacts;

    protected override async Task OnInitializedAsync()
    {
        var response = await Http.GetFromJsonAsync<Pages>("http://10.133.51.103:8080/api/CatFactGet");

        catfacts = response.data;
    }

}